<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.godstyle">

    <!-- Permisos para notificaciones y alarmas exactas -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />


    <application
        android:name=".GodStyleApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.GodStyle">

        <activity android:name=".CalendarActivity" android:exported="false"/>
        <activity android:name=".EditarCitaActivity" android:exported="false"/>

        <!-- Registro de usuario -->
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity"
            android:exported="false" />

        <!-- MainActivity (menú principal) -->
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".LoginActivity"
            android:exported="false" />

        <!-- Listado de citas -->
        <activity
            android:name=".ActivityClientes"
            android:parentActivityName=".MainActivity"
            android:exported="false" />

        <!-- Añadir/Editar cita -->
        <activity
            android:name=".AnadirCitaActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.GodStyle"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Login sin launcher -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <!-- Receptor para las alarmas -->
        <receiver
            android:name=".notification.AlarmReceiver"
            android:exported="false" />
    </application>
</manifest>
